<div class="top">
    <div class="head">
        <i class="far fa-list-alt" style="font-size:50px; color : #f4a896;font-weight:800;"></i>
        <span >RapidKen.AI</span>
    </div>
   
</div>

<div class="links">
    <!-- <span class="radio">  
        <label>  
            <input type="radio" name="link" value="registration"  (click)="Link('/registration')" [checked]="this.link=='/registration'" >  
            Employee Registration
        </label>  
    </span>  
    <span class="radio">  
     <label>  
            <input type="radio" name="link" value="employee" (click)="Link('/employee')" [checked]="this.link=='/registration'">  
            Employee List
        </label>  
    </span>  -->

    <a type =" button" class="btn btn-dark" routerLink="/registration" routerLinkActive>Employee Registartion</a>
    <a type =" button" class="btn btn-dark" routerLink="/employee" routerLinkActive>Employee List</a>



</div>

<router-outlet></router-outlet>
