@import"https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap";
.container{
    
   
   
    // margin:1% auto;
    padding:2%;
    // height:600px;
    background-color:#358597;
    
    form{
        // display:block;
        // margin: auto;
        margin:1%;
        
           div {
            margin:1%;
            width:100%;
            label{
                font-size:15px;
                display:block;
                margin:5%;
                font-family: 'Nunito Sans', sans-serif;
                color: #fff;
            }

            mat-error{
                color:#f4a896;
                font-family: 'Nunito Sans', sans-serif;

            }

            // input{
            //     width:100%;
            //     height:20px;
            // }


           }


           
        

    }
    .message{
        font-family: 'Nunito Sans', sans-serif;
        text-justify: auto;
        color:#f4a896;
       
    }
    div a{
        margin:5px;
    }
}